*{
    
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

.NavMenu{

    font-family: Montserrat;
    padding: 50px;
    display: flex;
    justify-content:right;
    top:0%;
    margin-right: 1rem;
    margin-left: 10rem;


}

.NavLink {

    color: #2C96BF;
    padding: 15px;
    display: block;

}


.Nav-Icon {
    padding: 22px;
    color: #2C96BF;
    font-weight: 300;

}

.Line{
    border-top: 2px solid #2C96BF;
    padding: 0;
    margin: 0px auto 0 auto;

}

