* {
	margin: 0px 0px;
	padding: 0;
}
.llamada{
	margin-top: 6px;
}

.name {

	position: absolute;
	top: 1401px;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	white-space: nowrap;
}
h1{
	color: rgb(255, 252, 252);
	font-size: 80px;
	font-family: La Belle Aurore;
}	
h1 span {
	display: block;
	margin-top: 1em;
	font-size: 40px;
	font-weight: 200;
	font-family: Monserrat ;
}
.location{
 margin-top: 230px;

}

.accion{
	
	cursor: pointer;
	border: 1px solid white;
	background-color: transparent;
	height: 50px;
	width: 200px;
	color: white;
	font-size: 1.5em;
	font-family: Monserrat;
}

.hero {
	display: flex;
	justify-content: center;
	height: 79vh;
	width: 100%;
	background: linear-gradient(45deg, rgba(255,175,189,.7), rgba(100,216,243,.7), rgba(234,236,198,.7), rgba(245,146,176,.7), rgba(52,219,216,.7)) 0 0 / 1000% no-repeat, url(https://res.cloudinary.com/ddtolhmab/image/upload/v1653242445/Danza%20Okara/Tras_bambalinas_pjnuas_edxbpz.jpg) 0 0 / cover;
	-webkit-animation: gradientAnimation 40s ease infinite;
	animation: gradientAnimation 40s ease infinite;
}
@-webkit-keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}
@keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}


@media only screen and (max-width: 960px) {
   
.llamada{
	margin-top: 508px;
}

.name {
		position: absolute;
		top: 3843px;

}

h1 {
	font-size: 60px;


}
}
