footer{
    
    bottom: 0px;
    width: 100%;
    font-family: Montserrat;
    background-color: #E5E5E5;
}

p{
    size: 18px;
}

.line{
    border-top: 2px solid #a8acae;
    padding: 0;
    margin: 0px auto 0 auto;
}

.title-footer{
    margin-bottom: 25px;
    font-size: 22px;
}

.grupo-1{
    width: 100%;
    max-width: 1200px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 45px 0px;

}

.socialMedia{
    color: #2C96BF;
    padding: 5px 8px;
    border-radius: 5px;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    size: 10px;
}


.icon {
    border: white;
    color:#2C96BF;
    position: relative;
    background-color: white;
    border-radius: 50%;
    border-color: white;
    padding: 12px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.facebook:hover{
    background-color: #2C96BF;
    color: #ffffff;
}
.youtube:hover{
    background-color: #2C96BF;
    color: #ffffff;
}
.instagram:hover{
    background-color: #2C96BF;
    color: #ffffff;
}


.grupo-2{
    background-color: #d9d5d5;
    padding: 15px 10px;
    text-align: center;

}

@media screen and (max-width: 960px){
     
    .grupo-1{
        width: 50%;
        grid-template-columns: repeat(1, 1fr);
        padding: 35px 0px;

    }

    .title-footer{
        margin-top: 25px;

    }

    
}


