.testimonio{

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-shrink: 0;
  text-align: center;

}

.Image-Alumni{
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: top;
  border-radius: 100%;
}

.Opinion-Name{
  font-family: la belle aurore;
    font-size: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Opinion-Opinion{
 height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Monserrat, sans-serif;
    font-size: 1.0em;
    line-height: 1.15em;
    text-align: center;
  }